@tailwind base;
@tailwind components;
@tailwind utilities;

@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";


/* Custom Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}

/* Custom Phone Input Styling for react-phone-input-2 */
.react-tel-input .form-control:focus {
  box-shadow: 0 0 0 2px rgba(147, 51, 234, 0.2) !important;
}


.leaflet-container {
  height: 600px;
  width: 100%;
}
