@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";

@tailwind base;
@tailwind components;
@tailwind utilities;




/* Custom Animation */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}

/* Custom Phone Input Styling for react-phone-input-2 */
.react-tel-input .form-control:focus {
  box-shadow: 0 0 0 2px rgba(147, 51, 234, 0.2) !important;
}


.leaflet-container {
  height: 600px;
  width: 100%;
}

/* Custom Select Styling for Primary Background */
.custom-select-primary .ant-select-selector {
  background-color: rgba(15, 121, 44, 0.4) !important;
  /* bg-primary/40 */
  border-color: rgba(15, 121, 44, 0.2) !important;
  /* border-primary/20 */
  color: #1f2937 !important;
  /* text-gray-800 */
}

.custom-select-primary .ant-select-selector:hover {
  background-color: rgba(15, 121, 44, 0.5) !important;
}

.custom-select-primary.ant-select-focused .ant-select-selector {
  background-color: rgba(15, 121, 44, 0.5) !important;
  box-shadow: 0 0 0 2px rgba(15, 121, 44, 0.2) !important;
}

.custom-select-primary .ant-select-arrow {
  color: #4b5563 !important;
  /* text-gray-600 */
}

.custom-select-primary .ant-select-selection-placeholder {
  color: #4b5563 !important;
  /* text-gray-600 */
}